<%= form_for @locket, url: { action: @action, params: { user_id: @user.id, id: @locket.id }} do |f| %>

  <% if @locket.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@locket.errors.count, "error") %> prohibited
        this locket from being saved:
      </h2>
      <ul>
        <% @locket.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% @myAssets = ImageAsset.where(user_id: current_user.id).order(:title) %>

<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :open_image_id %>
  <%= collection_select :locket, :open_image_id, @myAssets, :id, :title %>
</p>

<p>
  <%= f.label :closed_image_id %>
  <%= collection_select :locket, :closed_image_id, @myAssets, :id, :title %>
</p>

<p>
  <%= f.label :chain_image_id %>
  <%= collection_select :locket, :chain_image_id, @myAssets, :id, :title %>
</p>

<p>
  <%= f.label :mask_image_id %>
  <%= collection_select :locket, :mask_image_id, @myAssets, :id, :title %>
</p>

<br/>
<%= f.submit class: 'btn'  %>

<% end %>
