<h1><%= "Locket Skin: #{@locket.title}" %> </h1>

<table>
  <tr>
    <th align="left"><%= link_to 'Closed Image', site_user_image_asset_path(current_user, @locket.closed_image.id) %></th>
    <th align="left"><%= link_to 'Open Image', site_user_image_asset_path(current_user, @locket.open_image.id) %></th>
    <th align="left"><%= link_to 'Chain Image', site_user_image_asset_path(current_user, @locket.chain_image.id) %></th>
    <th align="left"><%= link_to 'Mask Image', site_user_image_asset_path(current_user, @locket.mask_image.id) %></th>
  </tr>
  <tr>
    <td><%= image_tag @locket.closed_image.image.url(:thumb) %></td>
    <td><%= image_tag @locket.open_image.image.url(:thumb) %></td>
    <td><%= image_tag @locket.chain_image.image.url(:thumb) %></td>
    <td><%= image_tag @locket.mask_image.image.url(:thumb) %></td>
  </tr>
</table>

<% if @locket.can_edit? %>
    <%= link_to "Edit this locket", edit_site_user_locket_path(current_user, @locket.id), class: 'btn' %>
<% end %>

<%= link_to 'Delete this locket', site_user_locket_path(current_user, @locket), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn inverse' %>
    <br><br>
<p>
    <h2>Review State: <%= @locket.state_string %></h2>

    <% if @locket.new? %>
      <%= link_to "Submit for reivew", submit_site_user_locket_path(current_user, @locket.id), method: :patch, class: 'btn' %>
    <% elsif @locket.rejected? %>
      <%= link_to "Resubmit for reivew", resubmit_site_user_locket_path(current_user, @locket.id), method: :patch, class: 'btn' %>
    <% elsif @locket.accepted? %>
      <%= link_to "Renew", renew_site_user_locket_path(current_user, @locket.id), method: :patch, data: { confirm: 'Are you sure?' }, class: 'btn' %>
    <% end %>
</p>
