<%= form_for @image_asset, url: { action: @action, params: { user_id: @user.id, id: @image_asset.id }} do |f| %>

  <% if @image_asset.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@image_asset.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @image_asset.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :anchor_x %>
  <%= f.number_field :anchor_x %>
</p>

<p>
  <%= f.label :anchor_y %>
  <%= f.number_field :anchor_y %>
</p>

<p>
  <%= f.label :image %>
  <%= f.file_field :image %>
</p>

<br>
<%= f.submit 'Update Asset', class: 'btn' %>

<% end %>
