<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <div class="fl_left">
      <ul class="nospace inline pushright">
        <% if current_user %>
          <li><%= "Welcome, #{current_user.email}" %></li>
          <li><%= link_to 'log out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'sign in', new_user_session_path %></li>
          <li><%= link_to 'register', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
    <div class="fl_right">
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- ################################################################################################ -->

<% if !is_site? %>
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><%= link_to 'Locket - A free mobile photo saver', root_path %> </h1>
      </div>
      <div id="quickinfo" class="fl_right">
        <ul class="nospace inline">
          <li><%= link_to image_tag( "apple/app_store_badge.svg" ), "https://itunes.apple.com/us/app/locket/id306891305?mt=8", target: "_blank" %></li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </header>
  </div>
<% end %>

<!-- ################################################################################################ -->

<div class="wrapper row2">
  <nav id="mainav" class="hoc clear">
    <ul class="clear">
      <% if controller_name == "welcome" %><li class="active"><% else %><li><% end %>
        <%= link_to 'Home', root_path %>
      </li>
      <% if current_user %>
        <% if is_site? %><li class="active"><% else %><li><% end %>
            <%= link_to 'My Assets', site_user_path(current_user), class: "drop" %>
            <ul>
                <li><%= link_to 'Image Assets', site_user_image_assets_path(current_user) %></li>
                <li><%= link_to 'Lockets', site_user_lockets_path(current_user) %></li>
            </ul>
        </li>
        <% if current_user.is_admin? %>
            <li>
                <%= link_to 'Admin', admin_site_user_path(current_user) %>
            </li>
        <% end %>
      <% end %>
      <% if false %>
      <li><a class="drop" href="#">Dropdown</a>
        <ul>
          <li><a href="#">Level 2</a></li>
          <li><a class="drop" href="#">Level 2 + Drop</a>
            <ul>
              <li><a href="#">Level 3</a></li>
              <li><a href="#">Level 3</a></li>
              <li><a href="#">Level 3</a></li>
            </ul>
          </li>
          <li><a href="#">Level 2</a></li>
        </ul>
      </li>
      <% end %>
    </ul>
  </nav>
</div>
