<!DOCTYPE html>
<html>
<head>
  <title>LocketServer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body id="top">
<%= render 'layouts/topbar' %>
<%= render 'layouts/header' %>
<%= render 'layouts/mainav' %>

<center>
<div style="width:80%">
<%= yield %>
</div>
</center>

<%= render 'layouts/footer' %>

</body>
<center>
  <p><%= notice %></p>
  <p><%= alert %></p>
</center>
</html>
